{% extends "../pages/base.html" %}
{% block title %}Mentors -{%endblock title %}

{% block bodyClass %}blog-page{% endblock bodyClass %}

{% block main %}
  <main class="main">

    <div style="margin-top: 0; background-image: url('/static/assets/img/backdrop.jpeg'); background-blend-mode: multiply; background-size: cover; background-repeat: no-repeat; height: 300px;" data-aos="fade-up">
      </div>

    <!-- Blog Posts Section -->
    <section id="blog-posts" class="blog-posts section">

      <div class="container">
        <div class="row gy-4">
            {% for mentor in mentors %}

          <div class="col-lg-4">
            <article class="position-relative h-100">

              <div class="post-img position-relative overflow-hidden">
                <img src="{{ mentor.image.url }}" class="img-fluid" alt="{{ mentor.name }}">
              </div>

              <div class="post-content d-flex flex-column">

                <h3 class="post-title">{{ mentor.name }}</h3>

                <p>
                    {{ mentor.expertise }}
                </p>

                <hr>

                <a href="{{ mentor.get_absolute_url }}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

              </div>

            </article>
          </div><!-- End post list item -->
          {% endfor %}

        </div>
      </div>

    </section><!-- /Blog Posts Section -->
  </main>
{% endblock main %}