Django==5.1.6
python-decouple==3.8
pymysql==1.1.1
Pillow==11.1.0
django-ckeditor-5==0.2.17
django-newsletter==1.0
django-request-logging==0.7.5
django-tinymce==4.1.0
sorl-thumbnail==12.11.0
django-import-export==4.3.5
django-taggit==6.1.0
django-extensions==3.2.3
matplotlib==3.10.0
django-simple-history==3.8.0