<footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="{% url 'pages:index' %}" class="logo d-flex align-items-center">
            <span class="sitename"><small>Michael Anoka</small><p style="text-align: center; color: rgb(30, 216, 30);">Foundation (MAF)</p></span>
          </a>
          <div class="footer-contact pt-3">
            <h4>For Supports and Enquiries</h4>
            <p class="mt-3">
              <strong>Phone:</strong> 
              <span><a href="tel:+1 5589 55488 55">+1 5589 55488 55</a></span>
            </p>
            <p>
              <strong>Email:</strong> 
              <span><a href="mailto:info@example.com">info@example.com</a></span>
            </p>
          </div>
          <div class="footer-contact pt-3">
            <h4>We’re Active on Social Media</h4>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg col-md footer-links">
          <h4>About Us</h4>
          <ul>
            <li><a href="{% url 'about_us' %}">Mission & Vision</a></li>
            <li><a href="{% url 'export_corporate_profile_to_pdf' %}">Corporate Profile</a></li>
            <li><a href="{% url 'mentor_list' %}">Mentors</a></li>
            <li><a href="{% url 'partner_list' %}">Partners</a></li>
            <li><a href="{% url 'get_involved_list' %}">Get Involved</a></li>
            <li><a href="{% url 'our_approach_list' %}">Our Approach</a></li>
            <li><a href="{% url 'event_list' %}">Up Coming Events</a></li>
          </ul>
        </div>

        <div class="col-lg col-md footer-links">
          <h4>Our Programmes</h4>
          <ul>
            <li><a href="{% url 'impact:impact_list' %}">Our Impact</a></li>
            <li><a href="{% url 'gender_and_green_list' %}">Be Green</a></li>
            <li><a href="{% url 'alumni:alumni_list' %}">Be An Alumni</a></li>
            <li><a href="{% url 'faq_list' %}">FAQs</a></li>
            <li><a href="#">Past Programmes</a></li>
          </ul>
        </div>

        <div class="col-lg col-md footer-links">
          <h4>Resources</h4>
          <ul>
            <li><a href="{% url 'research_list' %}">Research</a></li>
            <li><a href="{% url 'resources:resource_list' %}">Useful Files</a></li>
            <li><a href="{% url 'career_list' %}">Careers</a></li>
            <li><a href="{% url 'media_app:news_list' %}">News</a></li>
            <li><a href="{% url 'media_app:podcast_list' %}">Podcast</a></li>
            <li><a href="{% url 'media_app:press_release_list' %}">Press Release</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Stay Updated</h4>
          <p>Stay up to date on our entrepreneurs, events, research and more. Subscribe!</p>
          <form enctype="multipart/form-data" action="/newsletter/{{ latest_newsletter_title }}/subscribe/" method="post" class="php-email-form">
            {% csrf_token %}
            <div class="newsletter-form">
              <input type="email" name="email">
              <input type="submit" value="Subscribe">
            </div>
            <p>
              <input type="checkbox" name="subscribe" value="1" required>
              I agree to receive emails from the Engr. Michael Anoka Foundation
            </p>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
          </form>
        </div>

      </div>
    </div>

    <div class="container copyright mt-4">
      <p>
        &copy; 
        <span id="copyright-year"></span> 
        <strong class="px-1 sitename">Michael Anoka Foundation (MAF)</strong> 
        <span>All Rights Reserved</span>
        <span class="float-end">
          <a href="{% url 'terms_and_conditions' %}"  style="padding-right: 20px; margin-right: 4px;">Terms & Conditions  </a>
          <a href="{% url 'safeguard_policy_list' %}"  style="padding-right: 20px; margin-right: 4px;">Safeguarding Policy  </a>
          <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
        </span>
      </p>
    </div>

    <script>
      // Get the current year
      const currentYear = new Date().getFullYear();
      document.getElementById('copyright-year').textContent = currentYear;
    </script>

</footer>