{% extends "./base.html" %}
{% load static %}
{% block main %}
<main class="main">
    {% if sliders %}
    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        {% for slide in sliders %}

        <div class="carousel-item active">
          <img src="{{ slide.image.url }}" alt="{{ slide.title }}">
          <div class="container">
            <h2>{{ slide.title }}</h2>
            <p>{{ slide.description|safe }}</p>
            {% if slide.link %}
            <a href="{{ slide.link }}" class="btn-get-started">Read More</a>
            {% endif %}
          </div>
        </div><!-- End Carousel Item -->
        {% endfor %}
        {% if sliders|length > 1 %}

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>
        {% endif %}

      </div>

    </section><!-- /Hero Section -->
    {% endif %}

     <!-- Stats Section -->
    <section id="stats" class="stats section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row stats-content stats-animation">

          <div class="col-lg-4">

            <div class="stats-item">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="1500453" data-purecounter-separator="," data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Entrepreneurs empowered with access to training</strong></p>
            </div>

          </div>

          <div class="col-lg-4">
            <div class="stats-item">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="10000" data-purecounter-separator="," data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Entrepreneurs funded</strong></p>
            </div>

          </div>

          <div class="col-lg-4">
            <div class="stats-item">
              <i class="bi bi-globe"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Geographical Regions Covered</strong></span></p>
            </div>

          </div>

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row position-relative">

          <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="{{ about_us.image.url }}" alt="{{ about_us.title }}"></div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <h2 class="inner-title">{{ about_us.title }}</h2>
            <div class="our-story">
              <h3>Our Story</h3>
              <p>Inventore aliquam beatae at et id alias. Ipsa dolores amet consequuntur minima quia maxime autem. Quidem id sed ratione. Tenetur provident autem in reiciendis rerum at dolor. Aliquam consectetur laudantium temporibus dicta minus dolor.</p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commo</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Duis aute irure dolor in reprehenderit in</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
              </ul>
              <p>{{ about.description|safe|truncatewords:50 }}</p>
              <div class="d-flex align-items-center justify-content-center">
                <a href="{% url 'about_us' %}" class="btn-learn-more">Learn More</a>
              </div>

              <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="{{ about.youtube_video }}" class="glightbox stretched-link">Watch Video</a>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    {% if did_you_knows %}
   <section id="hero-1" class="hero-1 section">
    <div id="hero-carousel-1" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
      {% for answer in did_you_knows %}

      <div class="carousel-item active">
        <div class="container">
          <h2>DID YOU KNOW?</h2>
          <p>{{ answer.description }}</p>
        </div>
      </div><!-- End Carousel Item -->
      {% endfor %}
      {% if did_you_knows|length > 1 %}
      <a class="carousel-control-prev" href="#hero-carousel-1" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carouse-1" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>
      {% endif %}

    </div>
   </section>
   {% endif %}

    <!-- Services Section -->
    <section id="services" class="services section light-background">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>WHAT WE ARE UP TO</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item item-cyan position-relative">
              <h3>Nesciunt Mete</h3>
              <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
              <hr>
              <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item item-orange position-relative">
              <h3>Eosle Commodi</h3>
              <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
              <hr>
              <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item item-teal position-relative">
              <h3>Ledo Markt</h3>
              <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
              <hr>
              <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->
        </div>

      </div>

    </section><!-- /Services Section -->

    {% if news %}
     <!-- Blog Posts Section -->
     <section id="blog-posts" class="blog-posts section">

      <div class="container">
        <div class="row gy-4">
          {% for article in news %}

          <div class="col-lg-4">
            <article class="position-relative h-100">

              <div class="post-img position-relative overflow-hidden">
                <img src="{{ article.image.url }}" class="img-fluid" alt="{{ article.title }}">
                <span class="post-date">{{ article.published_date }}</span>
              </div>

              <div class="post-content d-flex flex-column">

                <h3 class="post-title">{{ article.title }}</h3>

                <div class="meta d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-person"></i> <span class="ps-2">{{ article.author }}</span>
                  </div>
                  <span class="px-3 text-black-50">/</span>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i> <span class="ps-2">{{ article.category }}</span>
                  </div>
                </div>

                <p>
                  {{ article.content|safe|truncatewords:50 }}
                </p>

                <hr>

                <a href="{{ article.get_absolute_url }}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

              </div>

            </article>
          </div><!-- End post list item -->
          {% endfor %}

        </div>
      </div>

    </section><!-- /Blog Posts Section -->
    {% endif %}

    {% if partners %}
    <!-- Clients Section -->
    <section id="clients" class="clients section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Partners</h2>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0 clients-wrap">
          {% for partner in partners %}

          <div class="col-xl-3 col-md-4 client-logo">
            <a href="{% if partner.website %}{{ partner.website }}{% else %}#{% endif %}">
              <img src="{{ partner.logo.url }}" class="img-fluid" alt="{{ partner.name }}">
            </a>
          </div><!-- End Client Item -->
          {% endfor %}

        </div>

      </div>

    </section><!-- /Clients Section -->
    {% endif %}

</main>
{% endblock main %}