{% extends './pages/base.html' %}

{% block main %}
    <h1>500 Error</h1>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; margin: 10px; text-align: center; background-color: #f8f9fa; font-family: Arial, sans-serif;">
        <h1 style="font-size: 3rem; color: #333;">500 - Internal Server Error </h1>
        <p style="font-size: 1.5rem; color: #555;"> Oops, something went wrong on our end. Please try again later.</p>
        <a href="/" style="display: inline-block; margin-top: 20px; padding: 10px 20px; font-size: 1.2rem; text-decoration: none; border-radius: 5px;">Go to Home</a>
    </div>
{% endblock main %}