{% extends "../pages/base.html" %}
{% load static %}
{% block title %}Our Partners -{%endblock title %}

{% block bodyClass %}blog-page{% endblock bodyClass %}

{% block main %}
  <main class="main">

    <div style="margin-top: 0; background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0) 100%), url('/static/assets/img/partners.jpeg'); background-blend-mode: multiply; background-size: cover; background-repeat: no-repeat; height: 300px;" data-aos="fade-up">
        <h3 style="padding-left: 35px; padding-top: 70px; color: rgb(30, 216, 30); text-align: left; font-family: Mulish, Sans-serif; font-size: 35px; font-weight: 700;
        text-transform: uppercase; width: 50%;">OUR PARTNERS</h3>
        <p>We are The Leading Philanthropy Empowering Young Africans Across All 54 African Countries</p>
      </div>

    <!-- Clients Section -->
    <section id="clients" class="clients section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Our Partners</h2>
        </div><!-- End Section Title -->
  
        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row g-0 clients-wrap">
            {% for group in groups %}
                <h2>{{ group.title }}</h2>
                <p>{{ group.description }}</p>
                {% for partner in group.partners.all %}
                <a href="{{ partner.website }}" target="_blank">
                    <div class="col-xl-3 col-md-4 client-logo">
                    <img src="{{ partner.image.url }}" class="img-fluid" alt="{{ partner.name }}">
                    </div><!-- End Client Item -->
                </a>
                {% endfor %}
            {% endfor %}
  
          </div>
  
        </div>
  
      </section><!-- /Clients Section -->

      {% if alumni %}
     <!-- Blog Posts Section -->
     <section id="blog-posts" class="blog-posts section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Entrepreneurs That Benefit From Our Partners</h2>
      </div><!-- End Section Title -->

      <div class="container">
        <div class="row gy-4">
          {% for article in alumni %}

          <div class="col-lg-4">
            <article class="position-relative h-100">

              <div class="post-img position-relative overflow-hidden">
                <img src="{{ article.profile_picture.url }}" class="img-fluid" alt="{{ article.name }}">
                <span class="post-date">{{ article.occupation }}</span>
              </div>

              <div class="post-content d-flex flex-column">

                <h3 class="post-title">{{ article.name }}</h3>

                <p>
                  {{ article.bio|safe }}
                </p>

              </div>

            </article>
          </div><!-- End post list item -->
          {% endfor %}

        </div>
      </div>

    </section><!-- /Blog Posts Section -->
    {% endif %}
  </main>
{% endblock main %}