{% extends "../pages/base.html" %}
{% load static %}
{% block title %}About Us -{%endblock title %}

{% block bodyClass %}about-page{% endblock bodyClass %}

{% block main %}
  <main class="main">
    <div style="margin-top: 0; background-image: url('/static/assets/img/backdrop.jpeg'); background-blend-mode: multiply; background-size: cover; background-repeat: no-repeat; height: 300px;" data-aos="fade-up">
      <h3 style="padding-left: 35px; padding-top: 70px; color: rgb(30, 216, 30); text-align: left; font-family: Mulish, Sans-serif; font-size: 35px; font-weight: 700;
      text-transform: uppercase; width: 50%;">We are The Leading Philanthropy Empowering Young Nigerians Across States.</h3>
    </div>
    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2 style="color: rgb(3, 66, 3);">The Michael Anoka Foundation (MAF) was founded in 2015 by Engr. Michael Anoka, C.E; An entrepreneur, investor and philanthropist who is passionate about Nigeria’s economic development and social justice.</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row position-relative">

          <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="{{ about.image.url }}" class="img-fluid" alt="{{ about.title }}"></div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <h2 class="inner-title">{{ about.title }}</h2>
            <div class="our-story">
              <p>{{ about.content|safe }}</p>

              <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="{{ about.youtube_video.url }}" class="glightbox stretched-link">Watch Video</a>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <section id="service-details" class="service-details section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Mission and Vision</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-9" data-aos="fade-up" data-aos-delay="200">
            <img src="{{ mission_vission.image.url }}" alt="{{ mission_vission.title }}" class="img-fluid services-img">
            <h3>{{ mission_vission.title }}</h3>
            <p>
              {{ mission_vission.description|safe }}
            </p>
          </div>

        </div>

      </div>

    </section>

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Philosophy</h2>
      </div><!-- End Section Title -->

      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        {% for philosophy in our_approaches %}

        <div class="carousel-item active">
          <img src="{{ philosophy.image.url }}" alt="{{ philosophy.title }}">
          <div class="container">
            <h2>{{ philosophy.title }}</h2>
            <p>{{ philosophy.description|safe }}</p>
          </div>
        </div><!-- End Carousel Item -->
        {% endfor %}

        {% if our_approaches|length > 1 %}
        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>
        {% endif %}

      </div>

    </section><!-- /Hero Section -->

    <!-- Team Section -->
    <section id="team" class="team section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Leadership Team</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          {% for mentor in mentors %}

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="{{ mentor.image.url }}" class="img-fluid" alt="{{ mentor.name }}">
                <div class="social">
                  <a href="{{ mentor.twitter_link }}"><i class="bi bi-twitter-x"></i></a>
                  <a href="{{ mentor.facebook_link }}"><i class="bi bi-facebook"></i></a>
                  <a href="{{ mentor.instagram_link }}"><i class="bi bi-instagram"></i></a>
                  <a href="{{ mentor.linkedin_link }}"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{ mentor.name|title }}</h4>
                <span>{{ mentor.designation|title }}</span>
              </div>
            </div>
          </div><!-- End Team Member -->
          {% endfor %}

        </div>

      </div>

    </section><!-- /Team Section -->

    {% if partners %}
    <!-- Clients Section -->
    <section id="clients" class="clients section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Partners</h2>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0 clients-wrap">
          {% for partner in partners %}

          <div class="col-xl-3 col-md-4 client-logo">
            <a href="{% if partner.website %}{{ partner.website }}{% else %}#{% endif %}">
              <img src="{{ partner.logo.url }}" class="img-fluid" alt="{{ partner.name }}">
            </a>
          </div><!-- End Client Item -->
          {% endfor %}

        </div>

      </div>

    </section><!-- /Clients Section -->
    {% endif %}

  </main>
{% endblock main %}