{% extends "../pages/base.html" %}
{% block title %}Safeguard Policies{%endblock title %}

{% block bodyClass %}starter-page-page{% endblock bodyClass %}

{% block main %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title accent-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Safeguard Policies</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Safeguard Policies</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>{{ policy.title }}</h2>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p><strong>Last Updated:</strong> {{ policy.last_updated }}</p>
        <p>{{ policy.content|safe }}</p>
      </div>

    </section><!-- /Starter Section Section -->

  </main>
{% endblock main %}