{% extends "../pages/base.html" %}
{% block title %}Frequently Asked Questions{%endblock title %}

{% block bodyClass %}starter-page-page{% endblock bodyClass %}

{% block main %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title accent-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Frequently Asked Questions</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/">Home</a></li>
            <li class="current">Frequently Asked Questions</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <ul>
            {% for faq in faqs %}
            <li>
                <strong>{{ faq.question }}</strong>
                <p>{{ faq.answer }}</p>
            </li>
            {% endfor %}
        </ul>
      </div>

    </section><!-- /Starter Section Section -->

  </main>
{% endblock main %}