{% extends "../pages/base.html" %}
{% block title %}Alumni -{% endblock title %}

{% block bodyClass %}blog-page{% endblock bodyClass %}

{% block main %}
  <main class="main">

    <!-- Blog Posts Section -->
    <section id="blog-posts" class="blog-posts section">
        <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2 style="padding-top: 0px;">Alumni Who Have Benefited From Our Programs</h2>
      </div><!-- End Section Title -->

      <div class="container">
        <div class="row gy-4">
            {% for alumni in alumni_members %}

          <div class="col-lg-4">
            <article class="position-relative h-100">

              <div class="post-img position-relative overflow-hidden">
                <img src="{{ alumni.profile_picture.url }}" class="img-fluid" alt="{{ alumni.name }}">
                <span class="post-date">{{ alumni.occupation }} - {{ alumni.graduation_year }}</span>
              </div>

              <div class="post-content d-flex flex-column">

                <h3 class="post-title">{{ alumni.name }}</h3>

                <p>
                  {{ alumni.bio }}
                </p>
              </div>

            </article>
          </div><!-- End post list item -->
          {% endfor %}
        </div>
      </div>

    </section><!-- /Blog Posts Section -->

  </main>
{% endblock main %}