{% extends "../pages/base.html" %}
{% block title %}{{ news_item.title }} -{%endblock title %}

{% block bodyClass %}blog-details-page{% endblock bodyClass %}

{% block main %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title accent-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">News Details</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/">Home</a></li>
            <li class="current">News Details</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <div class="container">
      <div class="row">

        <div class="col-lg-8">

          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container">

              <article class="article">

                <div class="post-img">
                  <img src="{{ news_item.image.url }}" alt="{{ news_item.title }}" class="img-fluid">
                </div>

                <h2 class="title">{{ news_item.title|title }}</h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> {{ news_item.author }}</li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <time datetime="2020-01-01">{{ news_item.published_date|date:"Y-m-d" }}</time></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> {{ news_item.comments.count }} Comment{{ news_item.comments.count|pluralize }}</li>
                  </ul>
                </div><!-- End meta top -->

                <div class="content">
                  <p>
                    {{ news_item.content|safe }}
                  </p>
                </div><!-- End post content -->

                <div class="meta-bottom">
                  <i class="bi bi-folder"></i>
                  <ul class="cats">
                    <li><a href="#">{{ news_item.category }}</a></li>
                  </ul>

                  <i class="bi bi-tags"></i>
                  <ul class="tags">
                    {% for tag in news_item.tags %}
                      <li><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></li>
                    {% endfor %}
                  </ul>
                </div><!-- End meta bottom -->

              </article>

            </div>
          </section><!-- /Blog Details Section -->

          <!-- Blog Comments Section -->
          <section id="blog-comments" class="blog-comments section">

            <div class="container">

              <h4 class="comments-count">{{ news_item.comments.count }} Comment{{ news_item.comments.count|pluralize }}</h4>
              {% for comment in comments %}

              <div id="comment-2" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="https://robohash.org/{{comment.name}}.png" alt="{{ comment.name }}"></div>
                  <div>
                    <h5><a href="">{{ comment.name }}</a> 
                      <a href="javascript:void(0);" class="reply"  data-comment-id="{{ comment.id }}"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">{{ comment.created_at|date:"y-m-d" }}</time>
                    <p>
                      {{ comment.content|safe }}
                    </p>
                  </div>
                </div>
                {% for reply in comment.approved_replies %}

                <div id="comment-reply-1" class="comment comment-reply">
                  <div class="d-flex">
                    <div class="comment-img"><img src="https://robohash.org/{{reply.name}}.png" alt="{{reply.name}}"></div>
                    <div>
                      <h5><a href="">{{reply.name}}</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                      <time datetime="2020-01-01">{{ reply.created_at|date:"y-m-d" }}</time>
                      <p>
                        {{ reply.content|safe }}
                      </p>
                    </div>
                  </div>
                </div><!-- End comment reply #1-->
                {% endfor %}

                <section id="comment-form" class="comment-form section">
                  <div class="container">
      
                    <form action="." method="post" id="reply-form-{{ comment.id }}" class="reply-form" style="display: none;">
                      {% csrf_token %}
      
                      <h4>Reply Comment</h4>
                      <p>Your email address will not be published. Required fields are marked * </p>
                      <div class="row">
                        <div class="col-md-6 form-group">
                          {{ reply_form.name }}
                          <input name="name" type="text" class="form-control" placeholder="Your Name*">
                        </div>
                        <div class="col-md-6 form-group">
                          {{ reply_form.email }}
                          <input name="email" type="text" class="form-control" placeholder="Your Email*">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col form-group">
                          {{ reply_form.content }}
                          <textarea name="comment" class="form-control" placeholder="Your Comment*"></textarea>
                        </div>
                      </div>

                      <div class="comments_field comments_i_agree_privacy_policy"><span class="sc_form_field_wrap"><input id="i_agree_privacy_policy" name="i_agree_privacy_policy" type="checkbox" value="1" required /> <label for="i_agree_privacy_policy" class="optional">I agree that my submitted data is being collected and stored.</label></span></div>

                      <div class="text-center">
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <button type="submit" name="reply_submit" class="btn reply-form-btn">Reply Comment</button>
                      </div>
      
                    </form>
      
                  </div>
                </section><!-- /Reply Form Section -->
              </div><!-- End comment #2-->
              {% endfor %}

            </div>

          </section><!-- /Blog Comments Section -->

          <!-- Comment Form Section -->
          <section id="comment-form" class="comment-form section">
            <div class="container">

              <form action="." method="post">
                {% csrf_token %}

                <h4>Post Comment</h4>
                <p>Your email address will not be published. Required fields are marked * </p>
                <div class="row">
                  <div class="col-md-6 form-group">
                    {{ comment_form.name }}
                  </div>
                  <div class="col-md-6 form-group">
                    {{ comment_form.email }}
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    {{ comment_form.content }}
                  </div>
                </div>

                <div class="comments_field comments_i_agree_privacy_policy"><span class="sc_form_field_wrap"><input id="i_agree_privacy_policy" name="i_agree_privacy_policy" type="checkbox" value="1" required/> <label for="i_agree_privacy_policy" class="optional">I agree that my submitted data is being collected and stored.</label></span></div>

                <div class="text-center">
                  <button type="submit" name="comment_submit" class="btn btn-primary">Post Comment</button>
                </div>

              </form>
              {% if comment_form.is_valid or reply_form.is_valid %}
                <p>Your comment has been submitted and is awaiting approval.</p>
              {% endif %}
              {% if not comments %}
                <p>No approved comments yet. Be the first to comment!</p>
              {% endif %}

            </div>
          </section><!-- /Comment Form Section -->

        </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container">

            <!-- Search Widget -->
            <div class="search-widget widget-item">

              <h3 class="widget-title">Search</h3>
              <form action="">
                <input type="text">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
              </form>

            </div><!--/Search Widget -->

            <!-- Categories Widget -->
            <div class="tags-widget widget-item">

              <h3 class="widget-title">Categories</h3>
              <ul>
                {% for cat in categories %}
                <li><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
                {% endfor %}
              </ul>

            </div><!--/Categories Widget -->

            <!-- Recent Posts Widget -->
            <div class="recent-posts-widget widget-item">

              <h3 class="widget-title">Recent Posts</h3>
              {% for item in recent_posts %}

              <div class="post-item">
                <h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
                <time datetime="2020-01-01">{{ item.published_date }}</time>
              </div><!-- End recent post item-->
              {% endfor %}

            </div><!--/Recent Posts Widget -->

            <!-- Tags Widget -->
            <div class="tags-widget widget-item">

              <h3 class="widget-title">Tags</h3>
              <ul>
                {% for tag in tags %}
                <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
                {% endfor %}
              </ul>

            </div><!--/Tags Widget -->

          </div>

        </div>

      </div>
    </div>

  </main>
{% endblock main %}
{% block scripts %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Get all reply buttons
      const replyButtons = document.querySelectorAll(".reply-btn");
  
      replyButtons.forEach(function (button) {
        button.addEventListener("click", function () {
          // Get the comment ID
          const commentId = this.getAttribute("data-comment-id");
  
          // Find the corresponding reply form
          const replyForm = document.getElementById(`reply-form-${commentId}`);
  
          // Toggle the visibility of the reply form
          if (replyForm.style.display === "none") {
            replyForm.style.display = "block"; // Show the reply form
          } else {
            replyForm.style.display = "none"; // Hide the reply form
          }
        });
      });
    });
  </script>  
{% endblock scripts %}