{% extends '../home/base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load json_ld %}
{% load social_share %}
{% block meta_tags %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ WEBSITE_URL }} {{ request.path }}" />
  <meta property="og:title" content="{{ news.title }}" />
  <meta property="og:published_time" content="{{ news.created_at }}" />
	<meta property="og:modified_time" content="{{ news.updated_at }}" />
  {% if news.picture_social %}
    <meta property="og:image" content="{{ news.picture_social_url }}" />
    <!-- Next tags are optional but recommended -->
    <meta property="og:image:width" content="{{ news.picture_social.width }}" />
    <meta property="og:image:height" content="{{ news.picture_social.height }}" />
  {% endif %}
    <meta property="og:description" content="{{ news.body|truncatewords:10 }}" />
    <meta property="og:site_name" content="Renat Security Consult Limited" />
    <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@TripleeO">
    <meta name="twitter:creator" content="@TripleeO">
    <meta name="twitter:url" content="{{ WEBSITE_URL }} {{ request.path }}">
    <meta name="twitter:title" content="{{ news.title }}">
    <meta name="twitter:description" content="{{ news.body|truncatewords:10 }}">
    {% if news.picture_social %}
      <meta name="twitter:image" content="{{ news.picture_social.url }}">
      {% render_json_ld news.structured_data %}
    {% endif %}
{% endblock meta_tags %}
{% block title %} news.title {% endblock %}
{% block body_class %}blog-details-page{% endblock body_class %}
  {% block main %}
    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home:home' %}">Home</a></li>
            <li class="current">Blog Details</li>
          </ol>
        </nav>
        <h1>Blog Details</h1>
      </div>
    </div><!-- End Page Title -->

    <div class="container">
      <div class="row">

        <div class="col-lg-8">

          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container">

              <article class="article">

                <div class="post-img">
                  <img src="{{ news.image.url }}" alt="{{ news.title }}" class="img-fluid">
                </div>

                <h2 class="title">{{ news.title | title }}</h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> {{ news.author }}</li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <time datetime="2020-01-01">{{ news.created_at }}</time></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> {{ news.comments.count }} Comment{{ news.comments.count|pluralize }}</li>
                  </ul>
                </div><!-- End meta top -->

                <div class="content">
                  {{ news.content | safe }}
                </div><!-- End post content -->

                <div class="meta-bottom">
                  <!-- <i class="bi bi-folder"></i> -->
                  <!-- <ul class="cats">
                    <li><a href="#">Business</a></li>
                  </ul> -->

                  <i class="bi bi-tags"></i>
                  <ul class="tags">
                    {% for tag in news.tags.all %}
                    <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
                    {% endfor %}
                  </ul>
                </div><!-- End meta bottom -->

                <div class="meta-bottom">
                  <h5>Share this post:</h5>
                  <ul class="tags">
                    {% post_to_twitter request.build_absolute_uri %}
                    {% post_to_facebook request.build_absolute_uri %}
                    {% post_to_whatsapp request.build_absolute_uri %}
                    {% post_to_linkedin request.build_absolute_uri %}
                  </ul>
                </div><!-- End meta bottom -->
              </article>

            </div>
          </section><!-- /Blog Details Section -->

          <!-- Blog Comments Section -->
          <section id="blog-comments" class="blog-comments section">

            <div class="container">

              <h4 class="comments-count">{{ news.comments.count }} Comments</h4>
              {% for comment in comments %}
              <div id="comment-2" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="https://robohash.org/{{comment.full_name}}.png" alt="{{ comment.user.username }}"></div>
                  <div>
                    <h5><a href="">{{ comment.full_name }}</a>
                      <a href="javascript:void(0);" class="reply reply-btn" data-comment-id="{{ comment.id }}"><i class="bi bi-reply-fill"></i> Reply</a>
                    </h5>
                    <time datetime="2020-01-01">{{ comment.created_at }}</time>
                    <p>
                      {{ comment.content | safe }}
                    </p>
                  </div>
                </div>
                {% for reply in comment.approved_replies %}
                <div id="comment-reply-1" class="comment comment-reply">
                  <div class="d-flex">
                    <div class="comment-img"><img src="https://robohash.org/{{comment.full_name}}.png" alt="{{ reply.user.username }}"></div>
                    <div>
                      <h5><a href="">{{ reply.full_name }}</a></h5>
                      <time datetime="2020-01-01">{{ reply.created_at }}</time>
                      <p>
                        {{ reply.content | safe }}
                      </p>
                    </div>
                  </div>
                </div><!-- End comment reply -->
                {% endfor %}

                <section id="comment-form" class="comment-form section">
                  <div class="container">
                    <form action="." method="post" id="reply-form-{{ comment.id }}" class="reply-form" style="display: none;">
                      {% csrf_token %}
                      <h4>Reply Comment</h4>
                      <div class="row gy-4">
                        <div class="col-md-6">
                          {{ reply_form.full_name }}
                        </div>
        
                        <div class="col-md-6 ">
                          {{ reply_form.email }}
                        </div>
                        <div class="col form-group">
                          {{ reply_form.content }}
                        </div>
                        <div class="col form-group">
                          {{ reply_form.captcha }}
                        </div>
                      </div>

                      <div class="comments_field comments_i_agree_privacy_policy"><span class="sc_form_field_wrap"><input id="i_agree_privacy_policy" name="i_agree_privacy_policy" type="checkbox" value="1" required /> <label for="i_agree_privacy_policy" class="optional">I agree that my submitted data is being collected and stored.</label></span></div>

                      <div class="text-center">
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <button type="submit" name="reply_submit" class="btn reply-form-btn">Reply Comment</button>
                      </div>
                    </form>
                  </div>
                </section>
              </div><!-- End comment -->
              {% endfor %}
            </div>

          </section><!-- /Blog Comments Section -->

          <!-- Comment Form Section -->
          <section id="comment-form" class="comment-form section">
            <div class="container">
              <form action="." method="post">
                {% csrf_token %}
                <h4>Post Comment</h4>
                <div class="row gy-4">
                  <div class="col-md-6">
                    {{ comment_form.full_name }}
                  </div>

                  <div class="col-md-6 ">
                    {{ comment_form.email }}
                  </div>
                  <div class="col form-group">
                    {{ comment_form.content }}
                  </div>
                  <div class="col form-group">
                    {{ comment_form.captcha }}
                  </div>
                </div>

                <div class="comments_field comments_i_agree_privacy_policy"><span class="sc_form_field_wrap"><input id="i_agree_privacy_policy" name="i_agree_privacy_policy" type="checkbox" value="1" required/> <label for="i_agree_privacy_policy" class="optional">I agree that my submitted data is being collected and stored.</label></span></div>

                <div class="text-center">
                  <button type="submit" name="comment_submit" class="btn btn-primary">Post Comment</button>
                </div>

              </form>
              {% if comment_form.is_valid or reply_form.is_valid %}
                <p>Your comment has been submitted and is awaiting approval.</p>
              {% endif %}
              {% if not comments %}
                <p>No approved comments yet. Be the first to comment!</p>
              {% endif %}
            </div>
          </section><!-- /Comment Form Section -->

        </div>

        {% include "./sidebar.html" with latest_news=latest_news tags=tags related_news=related_news form=form %}

      </div>
    </div>

  {% endblock main %}
  {% block scripts %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Get all reply buttons
        const replyButtons = document.querySelectorAll(".reply-btn");
    
        replyButtons.forEach(function (button) {
          button.addEventListener("click", function () {
            // Get the comment ID
            const commentId = this.getAttribute("data-comment-id");
    
            // Find the corresponding reply form
            const replyForm = document.getElementById(`reply-form-${commentId}`);
    
            // Toggle the visibility of the reply form
            if (replyForm.style.display === "none") {
              replyForm.style.display = "block"; // Show the reply form
            } else {
              replyForm.style.display = "none"; // Hide the reply form
            }
          });
        });
      });
    </script>  
  {% endblock scripts %}