{% extends "../pages/base.html" %}
{% block title %}Press Release -{%endblock title %}

{% block bodyClass %}blog-page{% endblock bodyClass %}

{% block main %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title accent-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Press Release</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/">Home</a></li>
            <li class="current">Press Release</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Blog Posts Section -->
    <section id="blog-posts" class="blog-posts section">

      <div class="container">
        <div class="row gy-4">
          {% if page_obj|length == 0 %}
          <div class="col-12 text-center">
            <h2>No press release available.</h2>
          </div>
          {% endif %}
          {% for press in page_obj %}

          <div class="col-lg-4">
            <article class="position-relative h-100">

              <div class="post-img position-relative overflow-hidden">
                <a href="{{ press.file.url }}" class="readmore stretched-link"></a>
                <span class="post-date">{{ press.published_date }}</span>
              </div>

              <div class="post-content d-flex flex-column">

                <h3 class="post-title">{{ press.title|title }}</h3>

                <hr>

                <a href="{{ press.file.url }}" class="readmore stretched-link"><span>Download</span><i class="bi bi-arrow-right"></i></a>

              </div>

            </article>
          </div><!-- End post list item -->
          {% endfor %}

        </div>
      </div>

    </section><!-- /Blog Posts Section -->

    <!-- Blog Pagination Section -->
    <section id="blog-pagination" class="blog-pagination section">

      <div class="container">
        <div class="d-flex justify-content-center">
          {% if page_obj.has_next %}
          <ul>
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-chevron-left"></i></a></li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
              {% if num == page_obj.number %}
            <li><a href="#" class="active">{{ num }}</a></li>
            {% else %}
            <li><a href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}"><i class="bi bi-chevron-right"></i></a></li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>

    </section><!-- /Blog Pagination Section -->

  </main>
{% endblock main %}