{% extends "../pages/base.html" %}
{% block title %}Get Involved -{%endblock title %}

{% block bodyClass %}blog-page{% endblock bodyClass %}

{% block main %}
  <main class="main">

    <div style="margin-top: 0; background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0) 100%), url('/static/assets/img/involve.jpeg'); background-attachment: scroll; background-blend-mode: multiply; background-size: cover; background-repeat: no-repeat; height: 500px;" data-aos="fade-up">
        <h3 style="padding-left: 35px; padding-top: 80px; color: rgb(30, 216, 30); text-align: left; font-family: Mulish, Sans-serif; font-size: 35px; font-weight: 700;
        text-transform: uppercase; width: 50%;">GET INVOLVED</h3>
        <p style="padding-left: 30px; color: #fff;">Michael Anoka Foundation (MAF) calls for Proposals</p>
      </div>

    <!-- Blog Posts Section -->
    <section id="blog-posts" class="blog-posts section">

      <div class="container">
        <div class="row gy-4">
            {% for opportunity in opportunities %}

          <div class="col-lg-4">
            <article class="position-relative h-100">

              <div class="post-img position-relative overflow-hidden">
                <img src="{{ opportunity.image.url }}" class="img-fluid" alt="{{ opportunity.title }}">
                <span class="post-date">(Deadline: {{ opportunity.deadline }})</span>
              </div>

              <div class="post-content d-flex flex-column">

                <h3 class="post-title">{{ opportunity.title }}</h3>

                <p>
                  {{ opportunity.description|safe|truncatewords:50 }}
                </p>

                <hr>

                <p><strong>Contact:</strong> <a href="mailto:{{ opportunity.contact_email }}">{{ opportunity.contact_email }}</a></p>

                <a href="{{ opportunity.get_absolute_url }}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

              </div>

            </article>
          </div><!-- End post list item -->
          {% endfor %}

        </div>
      </div>

    </section><!-- /Blog Posts Section -->

  </main>
{% endblock main %}
